// @import 'bourbon';
// @import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome';
@import 'foundation';
$include-html-button-classes: $include-html-classes;

$button-tny: em-calc(5);

.orange-text {
  color: #f74f00;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

div.row {
  margin-left: 0;
}

.bike-box {
  border: 2px solid #f74f00;
  background-color: #ffffff;
  padding: 1em;
  opacity: .6;

}

hr {
  border: 0;
  background-color: #f74f00; /* Modern Browsers */
  height: 4px;
    /* Set the hr color */
  color: #f74f00; /* old IE */
}

.top-bar {
  background-color: #f74f00;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../public/assets/images/homepage.jpeg');

  background-attachment: fixed;
  background-position: center;
  font-family: arial;
}

.addcompbutton {
  background-color: #282C35;
}


h1 {
  color: white;
  font-family: georgia;
}

li {
  list-style: none;
}

a {
  color: white;
}

.bodytext {
  color: white;
}

.row .columns:first-child {
  padding-left: 0;
}
